body {
  margin: 0;
  font-family: 'agengsans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'agengsans'
}


@font-face {
  font-family: 'agengsans';
  src: local('agengsans'), url(/assets/fonts/agengsans.ttf) format('truetype');
}